<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link href="../css/specialist-style.css" rel="stylesheet">
</head>
<body>

    <header class="header">
        <div class="container-header">          
            <div class="brand">
                <a href="index.html" class="image"></a>
            </div>
        </div>
    </header>


    <div class="container mt-5">
        <div class="row">
            <!-- Sekcja dodawania spotkań -->
            <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                <div class="add-meeting">
                    <h2 class="profile-title">Add New Meeting</h2>
                    <form action="/createMeeting" method="POST">
                        <div class="form-container">
                            <div class="mb-3">
                                <label for="doctor_name">Doctor name</label>
                                <input type="text" class="form-control" id="doctor_name" name="doctor_name" required>
                            </div>
                            <div class="mb-3">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" name="address" required>
                            </div>
                            <div class="mb-3">
                                <label for="date">Date</label>
                                <input type="date" class="form-control" id="date" name="date" required>
                            </div>
                            <div class="mb-3">
                                <label for="time">Time</label>
                                <input type="time" class="form-control" id="time" name="time" required>
                            </div>
                            <div class="mb-3">
                                <label for="type">Meeting Type</label>
                                <select class="form-control" id="type" name="type" required>
                                    <option value="AI">AI</option>
                                    <option value="PTSD">PTSD</option>
                                    <option value="INDIVIDUAL">INDIVIDUAL</option>
                                    <option value="GROUP">GROUP</option>
                                    <option value="COUPLES">COUPLES</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="available_spots">Available Spots</label>
                                <input type="number" class="form-control" id="available_spots" name="available_spots" required>
                            </div>
                            <div class="mb-3">
                                <label for="duration">Duration</label>
                                <input type="time" class="form-control" id="duration" name="duration" value="01:00" required>
                            </div>
                            <div class="mb-3">
                                <label for="price">Price</label>
                                <input type="number" step="0.01" class="form-control" id="price" name="price" value="100" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Meeting</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Sekcja listy spotkań -->
            <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                <div class="meeting-list">
                    <h2 class="profile-title">Scheduled Meetings</h2>
                    <ul class="list-group" id="appointments-list">
                        <% if (meetings && meetings.length > 0) { %>
                            <% meetings.forEach(appointment => { %>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="meeting-data">
                                        <!-- Wyświetlamy datę, typ i inne informacje o spotkaniu -->
                                        <p><strong>Date:</strong> <%= appointment.date %></p>
                                        <p><strong>Type:</strong> <%= appointment.type %></p>
                                        <p><strong>Doctor:</strong> <%= appointment.doctor_name %></p>
                                        <p><strong>Price:</strong> $<%= appointment.price %></p>
                                    </div>
                                    <div class="btn-container">
                                        <!-- Przyciski zarządzania -->
                                        <button class="btn btn-danger cancel-button" data-id="<%= appointment.id %>">Cancel</button>
                                        <button class="btn btn-info members-button" data-id="<%= appointment.id %>">Members</button>
                                        <button class="btn btn-secondary description-button" data-id="<%= appointment.id %>">Description</button>
                                    </div>
                                </li>
                                <div class="members-list" id="members-list-<%= appointment.id %>" style="display: none;">
                                    <ul class="list-group">
                                    <!-- lista uczestników  -->
                                    </ul>
                                </div>

                                 <!--formularz gdzie dodajemy opis spotkania -->
                                <div class="description-form" id="description-form-<%= appointment.id %>" style="display: none;">
                                    <textarea id="description-text-<%= appointment.id %>" class="form-control" rows="3" placeholder="Enter description here"></textarea>
                                    <button class="btn btn-primary mt-2" id="<%= appointment.id %>">Submit</button>
                                </div>

                            <% }); %>
                        <% } else { %>
                            <li class="list-group-item">No scheduled meetings</li>
                        <% } %>
                    </ul>
                </div>
            </div>            
        </div>
    </div>



    <!-- Skrypty Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../js/specialistPanel.js"></script>
</body>
</html>
